/*头部开始
*头部包括头部注册模块、logo模块、导航模块、广告模块
*/
header {
  widht: 100%;
}
header:after {
  display: block;
  height: 0;
  clear: both;
}
header .loginbar {
  height: 26px;
  width: 100%;
  background: -webkit-linear-gradient(#f9f9f9, #f1f1f1);
  background: -o-linear-gradient(#f9f9f9, #f1f1f1);
  background: -moz-linear-gradient(#f9f9f9, #f1f1f1);
  background: linear-gradient(#f9f9f9, #f1f1f1);
  border-bottom: 1px solid #DDD;
}
header .loginbar .regsiter a {
  margin-left: 10px;
  font-size: 12px;
}
header .loginbar .regsiter a:hover {
  text-decoration: underline;
  color: #12459c;
}
header .logo_banner {
  width: 100%;
  height: 70px;
}
header .logo_banner .logo {
  width: 200px;
  height: 100%;
  text-align: left;
  line-height: 70px;
}
header .logo_banner .logo img {
  height: 90%;
}
header .logo_banner .banner {
  width: 800px;
  height: 100%;
  text-align: right;
  line-height: 70px;
}
header .logo_banner .banner img {
  height: 90%;
}
header nav {
  width: 100%;
  height: 80px;
  margin-top: 3px;
}
header nav .nav-box {
  width: 1000px;
  min-width: 1000px;
  height: 40px;
  margin: 0 auto;
  background: -webkit-linear-gradient(#54ACE8, #247AC1);
  background: -o-linear-gradient(#54ACE8, #247AC1);
  background: -moz-linear-gradient(#54ACE8, #247AC1);
  background: linear-gradient(#54ACE8, #247AC1);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 5px 10px 0;
}
header nav .nav-box li {
  width: 80px;
  height: 100%;
  line-height: 30px;
  text-align: center;
}
header nav .nav-box li:after {
  width: 1px;
  height: 18px;
  content: "";
  float: right;
  background: #2172CE;
  margin-top: 6px;
  border-right: 1px solid #A0CBE9;
}
header nav .nav-box li:last-child:after {
  width: 0;
  border: 0;
  height: 0;
}
header nav .nav-box li a {
  color: #fff;
  display: inline-block;
  width: 80%;
  height: 100%;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
header nav .nav-box li a:hover {
  background: #E9F4FF;
  color: #666;
}
header nav .nav-box li a.active {
  background: #E9F4FF;
  color: #666;
}
header nav .search-box {
  width: 1000px;
  min-width: 1000px;
  height: 40px;
  background: #E9F4FF;
  margin: 0 auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 8px 10px;
}
header nav .search-box .search-text {
  width: 170px;
  height: 23px;
  vertical-align: middle;
}
header nav .search-box > select {
  height: 23px;
  margin-left: 5px;
  vertical-align: middle;
}
header nav .search-box .search-button {
  height: 21px;
  padding: 0 10px;
  vertical-align: middle;
  background: -webkit-linear-gradient(#fff, #eee);
  background: -o-linear-gradient(#fff, #eee);
  background: -moz-linear-gradient(#fff, #eee);
  background: linear-gradient(#fff, #eee);
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #bbb;
  margin-left: 5px;
}
header nav .search-box .search-a {
  color: #2D3092;
  margin-left: 5px;
  font-size: 14px;
}
header nav .search-box .circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: blue;
  vertical-align: middle;
  margin-left: 5px;
  background: -webkit-radial-gradient(#fff, #ddd);
  background: -o-radial-gradient(#fff, #ddd);
  background: -moz-radial-gradient(#fff, #ddd);
  background: radial-gradient(#fff, #ddd);
  box-shadow: 1px 1px 1px #ccc;
  line-height: 14px;
}
header nav .search-box .circle .triangle {
  display: inline-block;
  border-style: solid;
  border-color: transparent transparent transparent #55413A;
  border-width: 4px;
  margin-left: 8px;
}
header nav .search-box .keywords {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-left: 5px;
}
header nav .search-box .keywords a {
  color: #2D3092;
  margin-left: 5px;
  font-size: 12px;
}
header nav .search-box .subnav {
  line-height: 25px;
}
header nav .search-box .subnav li {
  font-size: 12px;
}
header nav .search-box .subnav li a {
  color: #2D3092;
}
header nav .search-box .subnav li:after {
  content: "";
  float: right;
  height: 14px;
  width: 1px;
  background: #D0D0D0;
  margin: 5px 10px 0;
}
header nav .search-box .subnav li:last-child:after {
  width: 0;
  height: 0;
  margin: 0;
}
/*
*头部结束
*广告位置开始
*/
.advertisement {
  width: 100%;
  margin: 10px 0;
}
.advertisement:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
/*
*底部
*/
footer {
  width: 100%;
  height: 140px;
  background: #f00;
  margin-top: 10px;
  font-size: 12px;
}
footer .foot-top {
  height: 40px;
  line-height: 40px;
  background: #000;
}
footer .foot-top a {
  font-size: 12px;
  color: #B3B3B3;
  margin-right: 15px;
}
footer .foot-bottom {
  background: #666;
  height: 100px;
  line-height: 2;
  padding-top: 10px;
  color: #fff;
}
footer .foot-bottom a {
  color: #fff;
}
