.main {
  width: 100%;
}
.main:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
.main p {
  font-size: 12px;
  color: #999;
}
.main p a {
  color: #363739;
  text-decoration: underline;
  margin: 0 10px;
}
.main p a:hover {
  color: #999;
}
.main .main_left {
  width: 270px;
  margin-top: 10px;
}
.main .main_left .evaluate {
  width: 100%;
  border: 1px solid #CCD3DF;
  border-radius: 5px;
}
.main .main_left .evaluate .title {
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #CCD3DF;
  background: -webkit-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: -o-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: -moz-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  color: #C30000;
  font-size: 14px;
  line-height: 30px;
  padding-left: 20px;
  font-weight: bold;
}
.main .main_left .evaluate .content {
  padding: 10px;
  font-size: 14px;
}
.main .main_left .evaluate .content:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.main .main_left .evaluate .content .evaluate_left {
  width: 50%;
  height: 100px;
}
.main .main_left .evaluate .content .evaluate_left li {
  text-align: center;
  height: 33px;
  line-height: 33px;
}
.main .main_left .evaluate .content .evaluate_left li:first-child {
  color: #D53300;
  font-weight: bold;
}
.main .main_left .evaluate .content .evaluate_left li i {
  font-style: normal;
}
.main .main_left .evaluate .content .evaluate_left li a {
  color: #3366CC;
}
.main .main_left .evaluate .content .evaluate_left li a:hover {
  color: #f00;
  text-decoration: underline;
}
.main .main_left .evaluate .content .evaluate_left li .jdt {
  display: inline-block;
  width: 56px;
  height: 7px;
  background: #E8E8E8;
}
.main .main_left .evaluate .content .evaluate_left li .jdt span {
  display: block;
  width: 66.70%;
  height: 100%;
  border: 1px solid #E37F24;
  background: #FFC535;
}
.main .main_left .evaluate .content .evaluate_right {
  width: 50%;
  height: 100px;
}
.main .main_left .evaluate .content .evaluate_right li {
  text-align: center;
  height: 33px;
  line-height: 33px;
}
.main .main_left .evaluate .content .evaluate_right li:first-child {
  color: #3366CC;
  font-weight: bold;
}
.main .main_left .evaluate .content .evaluate_right li i {
  font-style: normal;
}
.main .main_left .evaluate .content .evaluate_right li a {
  color: #3366CC;
}
.main .main_left .evaluate .content .evaluate_right li a:hover {
  color: #f00;
  text-decoration: underline;
}
.main .main_left .evaluate .content .evaluate_right li .jdt {
  display: inline-block;
  width: 56px;
  height: 7px;
  background: #E8E8E8;
}
.main .main_left .evaluate .content .evaluate_right li .jdt span {
  display: block;
  width: 33.3%;
  height: 100%;
  border: 1px solid #689ACC;
  background: #94C0E4;
}
.main .main_left .two_row {
  width: 100%;
  border: 1px solid #CCD3DF;
  border-radius: 5px;
  margin-top: 10px;
}
.main .main_left .two_row .title {
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #CCD3DF;
  background: -webkit-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: -o-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: -moz-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  color: #C30000;
  font-size: 14px;
  line-height: 30px;
  padding-left: 20px;
  font-weight: bold;
}
.main .main_left .two_row .content {
  font-size: 12px;
  padding: 10px 0;
  background: -webkit-linear-gradient(to right, #F0F1F2, #fff, #F0F1F2);
  background: -o-linear-gradient(to right, #F0F1F2, #fff, #F0F1F2);
  background: -moz-linear-gradient(to right, #F0F1F2, #fff, #F0F1F2);
  background: linear-gradient(to right, #F0F1F2, #fff, #F0F1F2);
}
.main .main_left .two_row .content:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
.main .main_left .two_row .content li {
  width: 50%;
  text-align: center;
  line-height: 30px;
}
.main .main_left .two_row .content li a {
  color: #316293;
  font-size: 12px;
}
.main .main_left .two_row .content li a:hover {
  font-weight: bold;
  text-decoration: underline;
}
.main .main_left .two_row .content li:before {
  content: "》";
  display: inline-block;
  width: 10px;
}
.main .main_left .ranking {
  width: 100%;
  border: 1px solid #CCD3DF;
  border-radius: 5px;
  margin-top: 10px;
}
.main .main_left .ranking .title {
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #CCD3DF;
  background: -webkit-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: -o-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: -moz-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  color: #C30000;
  font-size: 14px;
  line-height: 30px;
  padding-left: 20px;
  font-weight: bold;
}
.main .main_left .ranking .content {
  font-size: 12px;
  padding: 10px 0;
  background: -webkit-linear-gradient(to right, #F0F1F2, #fff, #F0F1F2);
  background: -o-linear-gradient(to right, #F0F1F2, #fff, #F0F1F2);
  background: -moz-linear-gradient(to right, #F0F1F2, #fff, #F0F1F2);
  background: linear-gradient(to right, #F0F1F2, #fff, #F0F1F2);
}
.main .main_left .ranking .content:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
.main .main_left .ranking .content li {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.main .main_left .ranking .content li i {
  float: left;
  width: 15px;
  height: 11px;
  background: #A73636;
  line-height: 11px;
  text-align: center;
  margin-top: 9px;
  border-radius: 3px;
  color: #fff;
  margin-right: 10px;
  font-style: normal;
  font-weight: bold;
}
.main .main_left .ranking .content li:nth-child(4) i,
.main .main_left .ranking .content li:nth-child(5) i,
.main .main_left .ranking .content li:nth-child(6) i,
.main .main_left .ranking .content li:nth-child(7) i,
.main .main_left .ranking .content li:nth-child(8) i,
.main .main_left .ranking .content li:nth-child(9) i,
.main .main_left .ranking .content li:nth-child(10) i {
  background: #425E9B!important;
}
.main .main_left .ranking .content li a {
  color: #314D93;
  display: inline-block;
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .main_left .ranking .content li a:hover {
  color: #f00;
  text-decoration: underline;
}
.main .main_left .ranking .content li span {
  display: inline-block;
  vertical-align: top;
  color: #999;
}
.main .main_right {
  width: 700px;
}
.main .main_right:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.main .main_right .list {
  width: 100%;
  border: 1px solid #CCD3DF;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px 20px;
}
.main .main_right .list h3 {
  height: 50px;
  line-height: 50px;
  color: #C30000;
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
  margin-bottom: 15px;
}
.main .main_right .list ul {
  width: 360px;
}
.main .main_right .list ul li {
  width: 100%;
  line-height: 30px;
  border-bottom: 1px solid #E5E9EF;
  font-size: 14px;
  color: #999;
}
.main .main_right .list ul li i {
  font-style: normal;
  color: #333;
}
.main .main_right .list ul li i.wjx {
  font-size: 20px;
}
.main .main_right .list ul li i.active {
  color: #f00;
}
.main .main_right .list ul li a {
  color: #314D93;
}
.main .main_right .list ul li span {
  display: inline-block;
  width: 45%;
  height: 100%;
  color: #999;
}
.main .main_right .list h4 {
  font-size: 14px;
  color: #C30000;
  line-height: 40px;
  font-weight: bold;
}
.main .main_right .list h4 .circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: blue;
  vertical-align: middle;
  margin-left: 5px;
  background: -webkit-radial-gradient(#fff, #ddd);
  background: -o-radial-gradient(#fff, #ddd);
  background: -moz-radial-gradient(#fff, #ddd);
  background: radial-gradient(#fff, #ddd);
  box-shadow: 1px 1px 1px #ccc;
  line-height: 14px;
  margin-right: 10px;
}
.main .main_right .list h4 .circle .triangle {
  display: inline-block;
  border-style: solid;
  border-color: transparent transparent transparent #55413A;
  border-width: 4px;
  margin-left: 8px;
}
.main .main_right .list .intro {
  font-size: 12px;
  color: #999;
  line-height: 1.5;
}
.main .main_right .list .title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #F9F9F9;
  border: 1px solid #eee;
  margin: 10px 0;
  color: #C30000;
  font-size: 14px;
  padding-left: 10px;
}
.main .main_right .list ol {
  font-size: 12px;
  color: #333;
  line-height: 25px;
}
.main .main_right .downloadLink {
  width: 100%;
  border: 1px solid #CCD3DF;
  border-radius: 5px;
  margin-top: 10px;
}
.main .main_right .downloadLink .title {
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #CCD3DF;
  background: -webkit-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: -o-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: -moz-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  color: #C30000;
  font-size: 14px;
  line-height: 30px;
  padding-left: 20px;
  font-weight: bold;
}
.main .main_right .downloadLink .content {
  padding: 10px 15px;
}
.main .main_right .downloadLink .content:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.main .main_right .downloadLink .content .left {
  width: 40%;
  height: 200px;
}
.main .main_right .downloadLink .content .left li:last-child {
  margin-top: 10px;
}
.main .main_right .downloadLink .content .left li a {
  font-size: 12px;
  color: #314D93;
  line-height: 2;
}
.main .main_right .downloadLink .content .left li a:hover {
  color: #f00;
  text-decoration: underline;
}
.main .main_right .downloadLink .content .left li a span {
  float: left;
}
.main .main_right .downloadLink .content .right {
  width: 60%;
  height: 230px;
}
.main .main_right .downloadLink .content .right:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.main .main_right .downloadLink .content .right img {
  width: 90%;
  float: right;
  margin-bottom: 3px;
}
.main .main_right .downloadLink .content .idc {
  width: 100%;
  height: 30px;
  border: 2px solid #ECECEC;
  float: left;
  margin: 10px 0;
  font-size: 12px;
  line-height: 26px;
  padding-left: 10px;
}
.main .main_right .downloadLink .content .idc a {
  color: #314D93;
  margin: 0 5px;
}
.main .main_right .downloadLink .content .idc a:hover {
  color: #f00;
  text-decoration: underline;
}
.main .main_right .downloadLink .content .correlation {
  width: 100%;
  height: 142px;
  float: left;
}
.main .main_right .downloadLink .content .correlation .correlation_left {
  width: 49%;
  height: 100%;
  background: #FEF1CC;
  margin-right: 2%;
  padding: 15px;
}
.main .main_right .downloadLink .content .correlation .correlation_left li {
  font-size: 12px;
  color: #996600;
  line-height: 23px;
}
.main .main_right .downloadLink .content .correlation .correlation_left li:first-child {
  font-weight: bold;
  font-size: 14px;
}
.main .main_right .downloadLink .content .correlation .correlation_left li span {
  float: right;
}
.main .main_right .downloadLink .content .correlation .correlation_left li a {
  color: #314D93;
}
.main .main_right .downloadLink .content .correlation .correlation_left li a:hover {
  color: #f00;
  text-decoration: underline;
}
.main .main_right .downloadLink .content .correlation .correlation_right {
  width: 49%;
  height: 100%;
  background: #FEF1CC;
  padding: 15px;
}
.main .main_right .downloadLink .content .correlation .correlation_right li {
  font-size: 12px;
  color: #996600;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.main .main_right .downloadLink .content .correlation .correlation_right li:first-child {
  font-weight: bold;
  font-size: 14px;
}
.main .main_right .downloadLink .content .correlation .correlation_right li span {
  float: right;
}
.main .main_right .downloadLink .content .correlation .correlation_right li a {
  color: #00f;
}
.main .main_right .downloadLink .content .correlation .correlation_right li a:hover {
  text-decoration: underline;
}
.main .main_right .message {
  float: left;
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #CCD3DF;
  padding: 0 0 10px 0;
}
.main .main_right .message .title {
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #CCD3DF;
  background: -webkit-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: -o-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: -moz-linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  background: linear-gradient(#F1F3F6 50%, #E1E5EC 50%);
  color: #C30000;
  font-size: 14px;
  line-height: 30px;
  padding-left: 20px;
  font-weight: bold;
}
.main .main_right .message .content .textarea_box {
  border: 1px solid #f00;
  width: 96%;
  height: 100px;
  border-radius: 8px;
  margin: 10px auto;
  padding: 15px;
  background: url("../images/cy-logo.png") no-repeat center;
}
.main .main_right .message .content .textarea_box textarea {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  outline-style: none;
  background: transparent;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.main .main_right .message .content .yan_button {
  width: 102px;
  height: 30px;
  float: right;
  background: url("../images/post-btn.png") no-repeat;
  margin-right: 10px;
  cursor: pointer;
}
.main .main_right .message .content .footer_box {
  width: 100%;
  height: 30px;
  line-height: 30px;
  float: left;
  font-size: 12px;
  padding: 0 10px;
}
.main .main_right .message .content .footer_box .returnTop {
  float: right;
}
.main .main_right .message .content .footer_box span {
  color: #333;
}
.main .main_right .message .content .footer_box a {
  color: #555;
  text-decoration: underline;
  margin-right: 15px;
}
